---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer/index.jsx";
import Nav from "../components/Nav/index.jsx";
---

<html lang="en">
	<head>
		<MainHead title="About | Lucent" description="About Lucent" />
		<style lang="scss">
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;

				img {
					width: 100%;
				}
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Lucent</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="https://upload.wikimedia.org/wikipedia/commons/d/d4/Roscoe_Wind_Farm_in_West_Texas.jpg"
				/>
			</div>
			<div class="bio wrapper wrapper__readable mt8">
				<p>
					When markets want to utilize their own data an individual company has to buy expensive, complex and hard to find hardware.
					This is a problem, here at Lucent Data our goal is to reduce barriers for individual companies to harness, buy, and sell data.
				</p>
				<p>
					We have collectively over 50 years of experience in computer science, computer vision, and machine learning.
					This has given us a uniqe insight in to these spaces and allowed us to see the problems that are plaguing the market.
					Many companies are developing autonomous solutions for every day hardships.
					This developmenet will require a lot of data to accuratly build these models.
				</p>
				<p>
					To explore more about our solutions click <a href="/projects">here</a>.
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
